<section class="w-full">
  <img
    src="/images/image-founder.webp"
    alt="Louis Graham, founder of WorkIt"
    class="w-[335px] lg:w-[477px] h-auto"
  />
  <div
    class="bg-slate-900 flex flex-col justify-center gap-7 text-center md:text-left rounded-lg p-8 w-full md:max-w-[504px] lg:max-w-[730px]"
  >
    <h2 class="font-serif text-preset-2 text-white">Be the first to test</h2>
    <p class="font-sans text-preset-4 text-white">
      Hi, I'm Louis Graham, the founder of the company. Book a demo call with me
      to become a beta tester for our app and kickstart your company. Apply for
      access below and I’ll be in touch to schedule a call.
    </p>
    <app-button variant="primary" size="md">Apply for access</app-button>
  </div>
</section>
